<div class="meal-details-container">
  <h2>Meal Details</h2>
  <div *ngIf="meal" class="meal-details">
    <p><strong>ID:</strong> {{ meal.id }}</p>
    <p><strong>Name:</strong> {{ meal.name }}</p>
    <p><strong>Type:</strong> {{ meal.mealtype }}</p>
    <p><strong>Calories:</strong> {{ meal.calories }}</p>
    <p><strong>Protein:</strong> {{ meal.protein }}</p>
    <p><strong>Carbs:</strong> {{ meal.carbs }}</p>
    <p><strong>Fats:</strong> {{ meal.fats }}</p>
    <p><strong>Rating:</strong> 
      <span class="rating">
        <i class="fas fa-star"></i> {{ meal.rating }}
      </span>
    </p>
    <p><strong>Liked:</strong> 
      <span [ngClass]="meal.liked ? 'liked' : 'not-liked'">
        {{ meal.liked ? 'Yes' : 'No' }}
      </span>
    </p>
    <p><strong>Available:</strong> 
      <span [ngClass]="meal.available ? 'available' : 'not-available'">
        {{ meal.available ? 'Yes' : 'No' }}
      </span>
    </p>
  </div>
  <button [routerLink]="['/meal-list']" class="btn-back"><i class="fas fa-arrow-left"></i> Back to List</button>
</div>
